<!DOCTYPE html>
<html>
<head>
    <title>无纸化会议系统大屏幕</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Costamar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <style>

        #arrived{color:green;}

        #no_arrived{color:red;}

        #meetingInfo,#overInfo,#noMeeting {
            margin-top:10%
        }

        .gallery{
            margin-top:5%
        }

        #container {
            margin-top:5%;
            padding: 0% 10% 5% 10%;
            height: 600px;
        }

        /*#meetingInfo > h1 { color: #0066FF;*/
            /*font-size:120px;}*/

		/*#checkinInfo > p {font-size:70px;*/
                         /*color: #00BFFF}*/

        /*#topicInfo > p {font-size:70px;}*/

        #overInfo > p{ font-size:70px; color: red}

    </style>

</head>

<!-- background= "images/bg_all.png" onbeforeunload="return '如果会议未结束，关闭屏幕会影响显示结果！！！'" -->
<body style="overflow-x: hidden; overflow-y: hidden;">

<!-- header -->
<div class="header-bg">
    <br>&nbsp;
    <a href="#"><img id="meetingLogo" src="" alt=" "></a>
</div>
<!-- //header images/logo.png-->

<div style="text-align:center">

    <!-- meeting info && topic info Start -->
    <% if(title === '' && content === ''){%>

    <div id="noMeeting">
        <img id="noMeetingLogo" src="/images/noMeeting.png" alt=" ">
        <h1><p>当前没有会议!<p></h1>
    </div>

    <div id="meetingInfo" style="display:none;">
        <h1></h1>
        <div id = "checkinInfo">
            <p>签到信息：已到<span id = "arrived">0</span>人,未到<span id = "no_arrived">0</span>人</p>
        </div>
        <div id="topicInfo" style="display:none;">
            <p>议题: </p>
        </div>
    </div>

    <%}else if(title !== '' && content === ''){%>

    <div id="meetingInfo">
        <h1><%= title %></h1>
        <div id = "checkinInfo">
            <p>签到信息：已到<span id = "arrived"><%= arrived %></span>人,未到<span id = "no_arrived"><%= notArrived %></span>人</p>
        </div>
        <div id="topicInfo" style="display:none;">
            <p>议题: <%= content %></p>
        </div>
    </div>

    <%}else {%>

    <div id="meetingInfo">
        <h1><%= title %></h1>
        <div id = "checkinInfo" style="display:none ">
            <p>签到信息：已到<span id = "arrived"><%= arrived %></span>人,未到<span id = "no_arrived"><%= notArrived %></span>人</p>
        </div>
        <div id="topicInfo">
            <p>议题: <%= content %></p>
        </div>
    </div>

    <%}%>
    <!-- meeting info && topic info End -->

    <div>
        <br><div id = "overInfo" style="display:none;"><p>会议已结束！</p></div>
    </div>

    <!-- vote statistics start -->
    <div id="statistics" style="display: none;">

        <div id="container"></div>

    </div>
    <!-- vote statistics end -->

    <!-- avatar projection Start -->
    <div class="gallery">

        <div id="portfoliolist" class="avatar_projection" style="position:relative;">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <!-- avatar projection Start -->

    <div id="vod_projection" style="display: none; width:100%;height:100%;position: absolute; top: 0; left: 0;background-color:black;">
    </div>

    <img id = "syncOfficeToWeb" src="" height="100%" width="100%" style="display: none; position: absolute; top: 0; left: 0;"/>

    <span id = "ip" style="display: none"><%= ip %></span>
    <span id = "screenStyle" style="display: none"><%= screenStyle %></span>
</div>


<script type="text/javascript" src="ckplayer/ckplayer.js" charset="utf-8"></script>
<script src="/js/socket.io-1.2.0.js"></script>
<script src="/js/jquery-1.11.1.js"></script>
<script src="/js/highcharts.js" type="text/javascript"></script>
<script src="/js/client.js"></script>

<script>

    //set page style
    var screenStyle = $("#screenStyle").text();
    var styleJsonObj;
    try {
        styleJsonObj = JSON.parse(screenStyle);

        $("body").css(styleJsonObj['screen_bg']);

        var ip = $("#ip").text();
        var serverUrl = 'http://' + ip + ':8080';

        var imgUrl = serverUrl + styleJsonObj['log_src']['src'];
        styleJsonObj['log_src']['src'] = imgUrl;
        $("#meetingLogo").attr(styleJsonObj['log_src']);

        $(".header-bg").css(styleJsonObj['logo_pos']);

        $("#meetingInfo > h1").css(styleJsonObj['meeting_title']);

        $("#checkinInfo > p").css(styleJsonObj['meeting_info']);
        $("#topicInfo > p").css(styleJsonObj['meeting_info']);

    }catch (err){
        console.error('screenStyle json decode error...');
        $("#meetingLogo").attr({"src":"/images/logo.png"});

        $(".header-bg").css({"text-align":"left"});

        $("#meetingInfo > h1").css({"color":"#992B00","font-size":"120px"});

        $("#checkinInfo > p").css({"font-size":"80px"});
        $("#topicInfo > p").css({"font-size":"80px"});
    }

</script>

</body>
</html>